body {
    width: 950px;
    background-color: hsl(35%, 36%, 95%);
    margin-left: 60px;
}
nav ul, footer ul {
    font-family: Inconsolata, Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: #367DA2;
}
a:hover {
    text-decoration: underline;
}
.sidenav .button {
    background-color: #367DA2;
    padding: 4px 5px 4px 5px;
    margin: 0px 0px 0px 11px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
} 
.sidenav p {
    font-size:11px;
}
h1 {
    font-size: 24px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    font-weight: normal;
    color: #367DA2;
}
h2 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
}
h3 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
}
h4 {
    font-size: 18px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
}
p {
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    line-height: 1.4em;
    color: #333;
}
ul {
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    color: #333;
}
ol {
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    color: #333;
}
code {
    white-space: pre-wrap;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: hsl(35%, 36%, 95%);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 22px;
  margin-left: 60px;
}
.sidenav > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
  color: #367DA2;
  display: block;
  text-align: left;
}
/* Style page content */
.container {
  width: 800px;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
