<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
			<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			tex2jax: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			processEscapes: true
			}
			});
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		</head>
		<body>
			<div class="sidenav">
				<a href="/" class="button" style="color: white">Trevor Chow</a>
				<a href="/blog">Blog Archive</a>
				<a href="/newsletter">Newsletter</a>
				<a href="/about">About The Blog</a>
				<br>
				<p> Back-of-the-envelope low-quality musings: <a href="/tag/takes" style="color: #367da2; font-size:11px">#takes</a> </p>
				<br>
				<p> Longform stuff I've put time and thought into is at <a href="/tag/effortposts" style="color: #367da2; font-size:11px">#effortposts</a>. </p>
				<br>
				<p> To hear from academics and policymakers, <a href="/tag/interviews" style="color: #367da2; font-size:11px">#interviews</a>. </p>
				<br>
				<p> Compiled scribbles on what I read can be found in <a href="/tag/notes" style="color: #367da2; font-size:11px">#notes</a>. </p>
				<br>
				<p> Topic-related tags include <a href="/tag/economics" style="color: #367da2; font-size:11px">#economics</a>, <a href="/tag/coronavirus" style="color: #367da2; font-size:11px">#coronavirus</a> and <a href="/tag/miscellaneous" style="color: #367da2; font-size:11px">#miscellaneous</a>. </p>
			</div>
			<div class="container">
			
			{{ content }}
			<footer>
	    		<ul>
	        		<li><a href="https://buttondown.email/tmychow">subscribe!</a></li>				
			</ul>
			</footer>
			</div><!-- /.container -->
		</body>
	</html>
