<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="span2 sidenav">
				<a href="/">Home</a>
				<a href="/blog">Blog</a>
				<a href="/about">About Me</a>
				<a href="/usefulfiles">Useful Files</a>
			</div>
			<div class="span8 container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tmychow@gmail.com">email</a></li>
	        		<li><a href="https://twitter.com/tmychow">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
